Repository shinGangan/exp-nuxt-route-groups, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏠 Chore, 📝 Documentation, 🚀 Feature

.github/labeler.yml:

'🏠 Chore':
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'
          - '.vscode/*'

'📝 Documentation':
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'

'🚀 Feature':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/app/**/*'

chore(ci): add GitHub PR/Issue templates
  .github/ISSUE_TEMPLATE/01-default.yml
  .github/pull_request_template.md
Labels: 🏠 Chore

chore: add vitest
  package.json
  pnpm-lock.yaml
Labels: none

fix(ci): refactor from labels.json to labels.yml
  .github/labels.json
  .github/labels.yml
Labels: 🏠 Chore

experiment: Nuxt Route Groups
  src/app/pages/(auth)/login.vue
  src/app/pages/index.vue
  src/app/pages/user/[id].vue
Labels: 🚀 Feature

experiment: enable the openAPI option
  src/nuxt.config.ts
Labels: none

feat: add AppHeader component
  src/app/app.vue
  src/app/components/AppHeader/index.vue
Labels: 🚀 Feature

fix: add vue rules to eslint config
  eslint.config.js
Labels: none

chore: add useHead()
  src/app/app.vue
Labels: 🚀 Feature

docs(README): add articles
  README.md
Labels: none

docs: stackblitzの埋め込みを修正
  README.md
Labels: none

docs: StackBlitz修正
  README.md
Labels: none
